@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f9f9;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Noto Sans JP", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
